<div class="sampleWelcome">
	<div class="sampleWelcomeContent" style="background-image: url('v1/ext/Sample_Welcome/images/welcome_background.jpg'); background-position: center bottom; background-size: cover; overflow: hidden">
	<!-- In the url path above, we are using the name of the sample extension (e.g. "name": "Sample_Welcome",) that is specified in the spec.json file in line 2 --> 
		<div class= "sampleLabelContainer">
			<div class="sampleWelcomeLogo"><img src="v1/ext/Sample_Welcome/images/logo_large.png" alt="Logo"></div>
			<!-- In the url path above, we are using the name of the sample extension (e.g. "name": "Sample_Welcome",) that is specified in the spec.json file in line 2 -->
			<div class="samplePromptLabel">
				<div class="samplePrimaryWelcomeMsg" style="text-shadow: color: #606060; font-size: 42px; text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff">Sample Outdoors Company</div>
				<div class="sampleSecondaryWelcomeMsg" style="display: inline-block; font-weight: bold; color: #000000">Welcome to your corporate analytics portal!</div>
				<div class="sampleSecondaryWelcomeMsg" style="display: inline-block; font-size: 14px; color: #000000; margin-top: 20px">Please choose an action from the navigation bar on the left, or view a <a href="https://www.youtube.com/playlist?list=PLfq0ST5X3p-Sd57_PJg_rjAOlyAVGnoL9" target="_blank"><b>Get Started</b></a> video.</div>
			</div>
		</div>
	</div>
</div>
