/**
 * Licensed Materials - Property of IBM
 *
 * IBM Cognos Products: BI
 *
 * (C) Copyright IBM Corp. 2015, 2016 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.welcome {
 	display: flex;
 	flex: 1;
 	position: relative;
 }
 
.sampleWelcome {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	-ms-flex-direction: column;
	-webkit-flex: 1;
	-ms-flex:  1;
	flex:1;
	position: relative;
}

.sampleWelcome .sampleWelcomeContent {
	-webkit-flex: 1;
	flex: 1;
	-ms-flex: 1 0 auto;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;

	position: relative;
}
.sampleWelcome .sampleWelcomeContent .welcomeVideo{
	-webkit-flex: 3;
	flex: 3;
	-ms-flex: 3;
	display: -webkit-flex;
	display: flex;
	display: -ms-flex;
	justify-content: center;
}

.sampleWelcome .sampleWelcomeContent .samplePromptLabel,
.sampleWelcome .sampleWelcomeContent .samplesText {
	display: flex;
	display: -webkit-flex;
    display: -ms-flexbox;
	justify-content: center;
	-ms-justify-content: center;
	-webkit-justify-content: center;
}
.sampleWelcome .sampleWelcomeContent .samplePromptLabel{
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
    align-items: center;
}
.sampleLabelContainer .samplePromptLabel .samplePrimaryWelcomeMsg{
	font-size: 40px;
	color: #3d4852;
	text-align: center;
}

.sampleLabelContainer .samplePromptLabel .sampleSecondaryWelcomeMsg{
	font-size: 20px;
	color: #aeb8b8;
	text-align: center;
}

.welcomeVideo .sampleLabelContainer .samplePromptLabel .videoGreeting{
	font-size: 20px;
	color: #6d7777;
}

.samples .textContainer .samplesText{
	font-size: 20px;
	color: #3d4852;
}
.sampleWelcome .sampleWelcomeContent .welcomeVideo .sampleLabelContainer .samplePromptLabel .userName {
	font-weight: bold;
}

.sampleWelcome .sampleWelcomeContent .samplePromptLabel .setupLink {
	color: #6AA3E5;
}

.sampleWelcome .sampleWelcomeContent video {
	max-height: 550px;
}

.sampleWelcome .sampleWelcomeContent .samples{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	padding-left: inherit;
	flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
}

.sampleWelcome .sampleWelcomeContent .samples .sampleReport{
    margin: 32px 24px 0px 24px;
}

.sampleWelcome .sampleWelcomeContent .samples .sampleReport .sampleNameText{
	font-size: 15px;
	color: #3d4852;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}

.sampleWelcome .footer {
	padding: 0 0 1.5em 3em;
}

.sampleWelcome .footer .closeButton {
	display: inline-block;
	cursor: pointer;
}

.sampleWelcome .footer .closeButton .closeIcon {
	float: left;
}

.sampleWelcome .footer .closeButton .closeLabel {
	margin-left: 2em;
	font-size: 1.3em;
	white-space: nowrap;
}
.welcomeVideo div.vid {

     width: 100%;
     align-self: center;
     /* flex: 3; */
     padding-right: 40px;
     padding-left: 40px;
}

div.sampleWelcome div.sampleWelcomeContent div.welcomeVideo div.vid video {
    width: inherit;
    border: solid;
    background-color: black;
}

.sampleLabelContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	margin: 0px 32px 100px 32px;
	-webkit-flex: 1;
	flex: 1;
}

.welcomeVideo. vidContainer{
	flex: 3;
	-ms-flex: 3;
	-webkit-flex: 3;
}

.samples .textContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	display: -ms-flex;
	-ms-flex-direction: column;
	-ms-justify-content: flex-start;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: flex-start;
	margin: 8px 32px 0px 32px;
}

.samples .reportContainer{
	flex:3;
	-webkit-flex: 3;
	display: -webkit-flex;
	display: flex;
	display: -ms-flex;
	justify-content: center;
	-ms-justify-content: center;
	-webkit-justify-content: center;
}

.samples .reportContainer span img{
	width:100%;
	cursor: pointer;
}

.sampleWelcomeLogo{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

.sampleWelcomeLogo .svgIcon, .sampleWelcomeLogo img{
	height: 54px;
}